body{
    color: rgb(141, 141, 141);
    margin: 0;
    /* background-color: #d2e4e0; */
    text-align: center;
}
#name{
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 5em;
    color: #45b29a;
    margin-top: 0;
    width:10%;
    margin:0 auto 0 auto;
    line-height: 1;
}
#name:hover{
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 5.2em;
    color: #45b29a;
    margin-top: 0;
    width:10%;
    margin:0 auto 0 auto;
}
.sub{
    font-family: 'Allura', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #45b29a;
    /* display: inline-block; */
    /* position: absolute;
    right: 44%;
    top: 200px;  */
}
#sub:hover{
    text-decoration: underline;
}
.header{
    margin-top: 0;
    background-color: #c4ebe0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    line-height: 2;
}
.cloud1{
    position: absolute;
    right: 300px;
    top: 150px;
}
.cloud2{
    position: absolute;
    left: 300px;
    top: 250px;
    
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    /* float: left; */

}
.code-image{
    /* height: 200px; */
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
.codes-image{
    /* height: 200px; */
    width: 25%;
    border-radius: 100%;
    float: right;
    /* margin-right: 20px; */
}
/* .des{
    clear: left;
}
.discribe{
    clear: right;
} */
.skill{
    color: #11999E;
}
.h2{
    color: #11999E;
}
h4{
    display: inline-block;
}
.h3{
    color: #11999E;
}
.poo{
    margin-bottom: 30px;
}
.footer-link{
    color: #11999E;
    text-decoration: none;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}
.btn {
    background: #0cd4e6;
    background-image: -webkit-linear-gradient(top, #0cd4e6, #186e6d);
    background-image: -moz-linear-gradient(top, #0cd4e6, #186e6d);
    background-image: -ms-linear-gradient(top, #0cd4e6, #186e6d);
    background-image: -o-linear-gradient(top, #0cd4e6, #186e6d);
    background-image: linear-gradient(to bottom, #0cd4e6, #186e6d);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 25px;
  }
  
  .btn:hover {
    background: #32e3b1;
    background-image: -webkit-linear-gradient(top, #32e3b1, #1d2929);
    background-image: -moz-linear-gradient(top, #32e3b1, #1d2929);
    background-image: -ms-linear-gradient(top, #32e3b1, #1d2929);
    background-image: -o-linear-gradient(top, #32e3b1, #1d2929);
    background-image: linear-gradient(to bottom, #32e3b1, #1d2929);
    text-decoration: none;
    /* margin: 20px; */
  }
  .contact-me{
      margin-bottom: 20px;
      margin-top: 30px;
  }
.middle-container{
    margin-top: 20px;
}
hr{
    /* border-style: dotted ; */
    border:dotted 6px #edf1f1;
    border-bottom:none;
    /* border:  10px none none none; */
    width: 4%;
    margin-bottom:  auto;
}.bottom-container{
    padding-top: 20px;
    background-color: #73d3b9;
    margin-bottom: 0;
    padding-bottom: 0;
}